#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Navbar */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 30px;
  background-color: #496e53;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.title {
  color: #cedad1;
}

.logo {
  height: 4em;
  width: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #cedad1);
}

.inputField {
  flex-grow: 1;
  padding-left: 20px;
  background: white;
  height: 40px;
  color: black;
  border-radius: 15px 15px 15px 15px;
  border-color: #cedad1;
}

.bi.bi-gear-fill {
  font-size: 1.4em;
  color: #cedad1;
}

.bi.bi-person-fill {
  font-size: 1.4em;
  color: #cedad1;
}

.bi.bi-cart-fill {
  font-size: 1.4em;
  color: #cedad1;
}

.flex-item-1 {
  flex-grow: 0;
}

.flex-item-2 {
  flex-grow: 0;
}

.inputField.flex-item-3 {
  flex-grow: 1;
}

.flex-item-4 {
  flex-grow: 0;
}

.flex-item-5 {
  flex-grow: 0;
}

.flex-item-6 {
  flex-grow: 0;
}

/* Card container */
.container {
  margin-top: 100px;
  padding-top:20px;
  overflow-y:auto;
}

.card {
  margin-bottom: 20px;
  padding: 1em;
  background-color:#496e53;
  border-width: 3px;
  border-style: solid;
  border-color: #cedad1;
}

.card-title {
  color:#ffffff;
}

.card-text {
  color:#cedad1;
}

.btn.btn-primary {
  background-color: #ffffff;
  color:#000000;
  border-width: 3px;
  border-style: solid;
  border-color: #cedad1;
}

.btn.btn-secondary {
  background-color: #496e53;
  color:#ffffff;
  border-width: 3px;
  border-style: solid;
  border-color: #cedad1;
}
